{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Umbreon", "Noctali", "Thorn", "Shard", "Shadow", "Dusk", "Luna", "Shade", "Umbra", "Blacky", "Willow", "Thistle", "Noir", "Ebony", "Grimm", "Nocturne", "Cerberus", "Midnight", "Shadowmend", "Fang", "Talon", "Wisp", "Dutchess", "Eclipse", "Dread", "Shadow", "Valentine", "Jack B Nimble" ]
    ]
  ]
}


